<div class="map-container">
  <as-split direction="horizontal"
         [gutterSize]="container.gutterSize"
         [style.width]="container.width"
         [style.height]="container.height"
         [useTransition]="true"
         style="background-color: #ffffff;">
    <ng-template ngFor
                 let-mapRow
                 [ngForOf]="mapRows"
                 let-index="index">
      <as-split-area [size]="mapRow.length">
        <as-split direction="vertical"
               [gutterSize]="container.gutterSize">
          <ng-template ngFor
                       let-mapCell
                       [ngForOf]="mapRow"
                       let-index="index">
            <as-split-area *ngIf="mapCell.present"
                        [visible]="mapCell.visible"
                        [order]="index"
                        [size]="mapCell?.size || 1">
              <sncf-sig-map [mapProperties]="mapCell.mapProps"
                            [mapViewProperties]="mapCell.viewProps"
                            (mapLoaded)="handleMapLoaded($event)"></sncf-sig-map>
            </as-split-area>
          </ng-template>
        </as-split>
      </as-split-area>
    </ng-template>
  </as-split>
</div>
